<a href="https://colab.research.google.com/github/oderofrancis/kenya_population/blob/main/kenya_population.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [73]:
# pip install geopandas

In [130]:
import pandas as pd

import geopandas as gpd

In [142]:
data = pd.read_csv('/content/drive/MyDrive/GIS data/kenya-populationland-area-population-density_by_subcounty.csv')

In [143]:
data.columns

Index(['National/ County', 'Population', 'Land Area (Sq. Km)',
       'Population Density (No. per Sq. Km)'],
      dtype='object')

In [144]:
data.dropna( inplace= True)

data.columns = ['constituency','population','land area','pop_density']

In [145]:
data[data['constituency']=='Mombasa']

  constituency  population  land area  pop_density
0      Mombasa     1208333      219.9         5495

In [146]:
data.head()

       constituency  population  land area  pop_density
0           Mombasa     1208333      219.9         5495
1  Changamwe             131882       17.7         7457
2            Jomvu       163415       36.9         4432
3   Kisauni              291930       87.7         3328
4           Likoni       250358       40.5         6187

In [147]:
len(data)

395

In [148]:
const = gpd.read_file('/content/drive/MyDrive/GIS data/constituencies.shp')

const.head(1)

   OBJECTID  ...                                           geometry
0         1  ...  POLYGON ((36.87595 -1.26253, 36.87894 -1.26246...

[1 rows x 12 columns]

In [149]:
const = const[['COUNTY_NAM','CONST_CODE','CONSTITUEN','COUNTY_COD','geometry']]

const.columns = ['county_name','const_code','constituency','county_code','geometry']

const.head()

  county_name  ...                                           geometry
0     NAIROBI  ...  POLYGON ((36.87595 -1.26253, 36.87894 -1.26246...
1     NAIROBI  ...  POLYGON ((36.81926 -1.20643, 36.83463 -1.21494...
2     NAIROBI  ...  POLYGON ((36.79214 -1.26085, 36.79290 -1.26106...
3     NAIROBI  ...  POLYGON ((36.90578 -1.16138, 36.90731 -1.16181...
4     NAIROBI  ...  POLYGON ((36.84275 -1.26460, 36.84375 -1.26768...

[5 rows x 5 columns]

In [150]:
len(const)

295

In [151]:
const[const['constituency']=='KASARANI']

  county_name  ...                                           geometry
7     NAIROBI  ...  POLYGON ((37.06335 -1.20526, 37.07031 -1.21776...

[1 rows x 5 columns]

In [152]:
data = pd.merge(data,const, on='constituency')

data.head()

Empty DataFrame
Columns: [constituency, population, land area, pop_density, county_name, const_code, county_code, geometry]
Index: []